.check-product-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}
.check-product-container .check-cart-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 700px;
  height: 400px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 50px #000;
}
.check-product-container .check-cart-container .check-cart-image {
  position: relative;
  width: 300px;
  height: 300px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}
.check-product-container .check-cart-container .check-cart-info {
  position: relative;
  width: 300px;
  height: 100%;
}
.check-product-container .check-cart-container .check-cart-info .closure {
  position: absolute;
  right: -15px;
  top: 5px;
}
.check-product-container .check-cart-container .check-cart-info .closure button {
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  color: #202529;
}
.check-product-container .check-cart-container .check-cart-info .closure button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.15s ease-in-out;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-title {
  text-align: center;
  margin-top: 45px;
  font-size: 1rem;
  font-weight: bold;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-content {
  margin-top: 15px;
  margin-left: 7px;
  font-size: 1.3rem;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-price {
  display: flex;
  margin-top: 25px;
  margin-left: 7px;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-price .price {
  margin-right: 5px;
  font-size: 1.2rem;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-price .origin-price {
  font-size: 1rem;
  margin-top: 2px;
  text-decoration: line-through;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-quantity {
  position: relative;
  margin-top: 5px;
  margin-left: 7px;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-quantity select {
  width: 100%;
  height: 25px;
  margin-top: 5px;
  font-size: 1rem;
}
.check-product-container .check-cart-container .check-cart-info .subtotal-price {
  margin-left: 7px;
  margin-top: 5px;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-add {
  width: 100%;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-add button {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(195, 199, 202, 0.5333333333);
  background-color: #2a3036;
  color: #fff;
}
.check-product-container .check-cart-container .check-cart-info .check-cart-add button:hover {
  color: #2a3036;
  background-color: rgba(139, 139, 139, 0.7803921569);
  cursor: pointer;
}