.check-product-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;

  .check-cart-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 700px;
    height: 400px;
    background-color: #fff;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 50px #000;
    .check-cart-image {
      position: relative;
      width: 300px;
      height: 300px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
    }
    .check-cart-info {
      position: relative;
      width: 300px;
      height: 100%;
      .closure {
        position: absolute;
        right: -15px;
        top: 5px;
        button {
          background-color: #fff;
          border: none;
          font-size: 1.5rem;
          color: #202529;
          &:hover {
            cursor: pointer;
            transform: scale(1.2);
            transition: transform 0.15s ease-in-out;
          }
        }
      }
      .check-cart-title {
        text-align: center;
        margin-top: 45px;
        font-size: 1rem;
        font-weight: bold;
      }
      .check-cart-content {
        margin-top: 15px;
        margin-left: 7px;
        font-size: 1.3rem;
      }
      .check-cart-price {
        display: flex;
        margin-top: 25px;
        margin-left: 7px;
        .price {
          margin-right: 5px;
          font-size: 1.2rem;
        }
        .origin-price {
          font-size: 1rem;
          margin-top: 2px;
          text-decoration: line-through;
        }
      }
      .check-cart-quantity {
        position: relative;
        margin-top: 5px;
        margin-left: 7px;
        .quantity-title {
        }
        select {
          width: 100%;
          height: 25px;
          margin-top: 5px;
          font-size: 1rem;
        }
      }
      .subtotal-price {
        margin-left: 7px;
        margin-top: 5px;
      }
      .check-cart-add {
        width: 100%;

        button {
          position: absolute;
          bottom: 20px;
          width: 100%;
          height: 30px;
          border-radius: 5px;
          border: 1px solid #c3c7ca88;
          background-color: #2a3036;
          color: #fff;
          &:hover {
            color: #2a3036;
            background-color: #8b8b8bc7;
            cursor: pointer;
          }
        }
      }
    }
  }
}
