.Navbar-wrap {
  position: relative;
  width: 100%;
  height: 100px;
  // background-color: rgba(100, 100, 180, 0.2);
  .title {
    width: 100%;
    height: 100px;
    .logo {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 75px auto;
      background-position: center;
      // background-color: rgba(200, 50, 180, 0.2);
    }
    // .right-icon {
    //   position: absolute;
    //   right: 3%;
    //   top: 15%;
    //   .sign-in {
    //     font-size: 2rem;
    //     &:hover {
    //       cursor: pointer;
    //     }
    //   }
    //   .sign-out {
    //     font-size: 2rem;
    //     &:hover {
    //       cursor: pointer;
    //     }
    //   }
    // }
    // .block {
    //   display: block;
    //   width: 100%;
    //   height: 100%;
    //   // background-color: rgba(100, 100, 180, 0.4);
    // }
  }
}
