.Navbar-wrap {
  position: relative;
  width: 100%;
  height: 100px;

  .title {
    width: 100%;
    height: 100px;

    .logo {
      position: absolute;
      right: 50%;
      width: 75px;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75px auto;
      transform: translateX(50%);

      &:hover {
        cursor: pointer;
      }
    }

    .userIcon {
      position: absolute;
      right: 3%;
      font-size: 1.8rem;
      transform: translateY(50%);

      &:hover {
        cursor: pointer;
      }
    }

    .userIcon {
      position: absolute;
      right: 3%;
      font-size: 1.8rem;
      transform: translateY(50%);

      &:hover {
        cursor: pointer;
      }
    }

    // .signOutIcon {
    //   font-size: 1.8rem;
    //   position: absolute;
    //   right: 3%;
    //   transform: translateY(50%);
    //   &:hover {
    //     cursor: pointer;
    //   }
    // }
    .admin-Link {
      position: absolute;
      right: 10%;
      width: 200px;
      height: 100px;
      z-index: 2;

      @media (width <= 600px) {
        left: 5%;
        width: 100px;
      }

      .admin {
        background-color: #fff;

        &:hover {
          color: #767676;
          cursor: pointer;
        }

        ul {
          padding-inline-start: 0;

          li {
            width: 100%;
            list-style: none;

            a {
              text-decoration: none;
              color: #000;

              &:hover {
                color: #767676;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
