.Navbar-wrap {
  position: relative;
  width: 100%;
  height: 7vh;
  // background-color: rgba(100, 100, 180, 0.2);
  .title {
    position: fixed;
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: rgba(50, 50, 180, 0.5);
    .left-title {
      width: 17%;
      min-width: 175px;
      max-width: 250px;
      background-color: #181c1f;
      color: #ffffff;
      text-align: center;
      font-size: 1rem;
      line-height: 7vh;
    }
    .right-title {
      width: 100%;
      background-color: #202529;
    }
  }
  .block {
    display: block;
    width: 100%;
    height: 14vh;
    // background-color: rgba(100, 100, 180, 0.4);
  }
}
