.new-coupon-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .card-container {
    position: relative;
    top: 55%;
    width: 350px;
    height: 350px;
    background-color: #fff;
    transform: translateY(-50%);

    .title {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 10%;
      background-color: #202529;

      .title-name {
        margin-left: 3%;
        font-size: 1rem;
        color: #fff;
      }

      .closure {
        margin-right: 3%;

        button {
          font-size: 1.2rem;
          color: #fff;
          background-color: #202529;
          border: none;
          cursor: pointer;
        }
      }
    }

    .content {
      position: relative;
      width: 100%;
      height: 90%;

      .input-due-date {
        margin-left: 4%;
        width: 100%;

        .input-date-text {
          margin: 12px 0 3px;
          font-size: 1rem;
        }

        input {
          width: 60%;
          height: 3%;
          font-size: 1rem;
          border: 1px solid #b1b5bb;
          border-radius: 4px;
        }
      }

      .input-title {
        margin-left: 4%;
        width: 100%;

        .title-text {
          margin: 12px 0 3px;
          font-size: 1rem;
        }

        input {
          width: 60%;
          height: 3%;
          font-size: 1rem;
          border: 1px solid #b1b5bb;
          border-radius: 4px;
        }
      }

      .input-percent {
        margin-left: 4%;
        width: 100%;

        .percent-text {
          margin: 12px 0 3px;
          font-size: 1rem;
        }

        input {
          width: 60%;
          height: 3%;
          font-size: 1rem;
          border: 1px solid #b1b5bb;
          border-radius: 4px;
        }
      }

      .input-code {
        margin-left: 4%;
        width: 100%;

        .code-text {
          margin: 12px 0 3px;
          font-size: 1rem;
        }

        input {
          width: 60%;
          height: 3%;
          font-size: 1rem;
          border: 1px solid #b1b5bb;
          border-radius: 4px;
        }
      }
    }

    .form-enable {
      margin-top: 3%;
      margin-left: 4%;

      .form-enable-label {
        font-size: 0.9rem;
      }
    }

    .buttonContainer {
      position: relative;
      width: 100%;
      height: 40px;

      .cancel {
        position: absolute;
        right: 15px;
        width: 65px;
        height: 35px;
        font-size: 0.9rem;
        background-color: #fff;
        border: 1px solid #b1b5bb;
        border-radius: 3px;
        cursor: pointer;
      }

      .confirm {
        position: absolute;
        right: 90px;
        width: 65px;
        height: 35px;
        font-size: 0.9rem;
        color: #fff;
        background-color: #202529;
        border: 1px solid #b1b5bb;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
}
