@charset "UTF-8";
.product-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.product-wrap .create-btn {
  position: relative;
  width: 100%;
  height: 10%;
}
.product-wrap .create-btn .btn {
  position: absolute;
  width: 9rem;
  height: 2.5rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #2a3036;
  color: #b1b5bb;
  right: 2%;
  bottom: 50%;
  transform: translateY(50%);
  cursor: pointer;
}
.product-wrap .products {
  position: relative;
  width: 100%;
}
.product-wrap .products table {
  width: 100%;
  border-collapse: collapse; /* 让边框相邻 */
}
.product-wrap .products table thead tr td {
  height: 50px;
  font-size: 1.2rem;
  font-weight: bolder;
  border-top: 3px solid rgba(42, 48, 54, 0.4);
  border-bottom: 3px solid rgba(42, 48, 54, 0.4);
}
.product-wrap .products table thead tr td:nth-child(1) {
  padding-left: 2%;
}
.product-wrap .products table thead tr td:nth-child(2) {
  width: 40%;
}
.product-wrap .products table tbody tr {
  padding-top: 50px;
}
.product-wrap .products table tbody tr td {
  height: 40px;
  border-bottom: 3px solid rgba(42, 48, 54, 0.1);
}
.product-wrap .products table tbody tr td:nth-child(1) {
  padding-left: 2%;
}
.product-wrap .products table tbody tr td:nth-child(6) button {
  margin-left: 5px;
}
.product-wrap .products table tbody tr td .edit {
  width: 50px;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #2a3036;
  color: #b1b5bb;
  cursor: pointer;
}
.product-wrap .products table tbody tr td .delete {
  width: 50px;
  height: 30px;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
}
.product-wrap .pagination {
  position: relative;
  display: flex;
  margin-top: 10px;
}
.product-wrap .pagination .left-btn .left {
  width: 30px;
  height: 25px;
  margin: 0 10px;
  color: #55477c;
  background-color: #fff;
  border: 1px solid #b1b5bb;
}
.product-wrap .pagination .left-btn .left:hover {
  background-color: rgba(214, 219, 227, 0.6196078431);
  cursor: pointer;
}
.product-wrap .pagination .left-btn .left.disabled {
  color: #b1b5bb;
  background-color: #fff;
  cursor: not-allowed;
}
.product-wrap .pagination .pages-btn button {
  width: 25px;
  height: 25px;
  color: #55477c;
  background-color: #fff;
  border: 1px solid #b1b5bb;
  border-left: none;
  cursor: pointer;
}
.product-wrap .pagination .pages-btn button.active {
  background-color: #55477c;
  color: #fff;
}
.product-wrap .pagination .pages-btn button.active:hover {
  background-color: #55477c;
  color: #fff;
}
.product-wrap .pagination .pages-btn button:hover {
  background-color: rgba(214, 219, 227, 0.6196078431);
  color: #55477c;
}
.product-wrap .pagination .pages-btn .pages-1 {
  border-left: 1px solid #b1b5bb;
}
.product-wrap .pagination .right-btn {
  margin: 0 10px;
}
.product-wrap .pagination .right-btn .right {
  width: 30px;
  height: 25px;
  color: #55477c;
  background-color: #fff;
  border: 1px solid #b1b5bb;
}
.product-wrap .pagination .right-btn .right:hover {
  background-color: rgba(214, 219, 227, 0.6196078431);
  cursor: pointer;
}
.product-wrap .pagination .right-btn .right.disabled {
  color: #b1b5bb;
  background-color: #fff;
  cursor: not-allowed;
}