.product-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: rgba(50, 100, 200, 0.3);
  .create-btn {
    position: relative;
    width: 100%;
    height: 10%;
    .btn {
      position: absolute;
      width: 9rem;
      height: 2.5rem;
      font-size: 1.2rem;
      border-radius: 5px;
      background-color: #2a3036;
      color: #b1b5bb;
      right: 2%;
      bottom: 50%;
      transform: translateY(50%);
      cursor: pointer;
    }
  }
  .products {
    position: relative;
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse; /* 让边框相邻 */
      thead {
        background-color: rgba(200, 100, 150, 0.3);
        tr {
          td {
            height: 50px;
            font-size: 1.2rem;
            font-weight: bolder;
            border-top: 3px solid rgba(42, 48, 54, 0.4);
            border-bottom: 3px solid rgba(42, 48, 54, 0.4);
            &:nth-child(1) {
              padding-left: 2%;
            }
            &:nth-child(2) {
              width: 40%;
            }
          }
        }
      }
      tbody {
        background-color: rgba(50, 50, 150, 0.3);
        tr {
          padding-top: 50px;
          td {
            height: 40px;
            border-bottom: 3px solid rgba(42, 48, 54, 0.1);
            &:nth-child(1) {
              padding-left: 2%;
            }
            button {
              width: 50px;
              height: 30px;
              font-size: 0.9rem;
              border-radius: 5px;
              background-color: #2a3036;
              color: #b1b5bb;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  // .new-product {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   .bg {
  //     position: fixed;
  //     width: 50%;
  //     height: 50%;
  //     background-color: rgba(0, 0, 0, 1);
  //   }
  // }
}
