.alert-message-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5%;
  right: 2%;
  background-color: #fbd5d9;
  border-radius: 3px;
  border: 1px solid #facfd6;
}
.alert-message-container .message {
  margin: 15px 25px 15px;
  font-size: 1.2rem;
  color: #8a5a58;
}
.alert-message-container .close-button {
  margin-right: 20px;
}
.alert-message-container .close-button button {
  font-size: 1.2rem;
  background-color: #fbd5d9;
  border: none;
  color: #8a5a58;
  cursor: pointer;
}
.alert-message-container .close-button button:hover {
  color: #000;
}