.payOrder-wrap {
  position: relative;
  width: 100%;
  height: 100%;

  form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .left-table {
      overflow: auto;
      width: 60%;
      height: 70%;

      table {
        border-collapse: collapse;

        thead {
          th {
            padding-top: 5%;
            padding-bottom: 5%;
            font-size: 0.8rem;
            text-align: left;

            &:nth-child(1) {
              padding-left: 2.5%;
              width: 55%;
            }

            &:nth-child(3) {
              padding-left: 4%;
              width: 30%;
              text-align: end;
            }
          }
        }

        tbody {
          td {
            padding-top: 5%;
            font-size: 0.8rem;
            text-align: left;
            border-top: 1px solid #b1b5bb;

            &:nth-child(1) {
              padding-left: 2.5%;
              width: 55%;
            }

            &:nth-child(2) {
              text-align: center;
            }

            &:nth-child(3) {
              padding-left: 4%;
              width: 30%;
              text-align: end;
            }
          }
        }

        tfoot {
          td {
            padding-top: 5%;
            font-size: 0.8rem;
            text-align: left;
            border-top: 1px solid #b1b5bb;

            &:nth-child(1) {
              padding-left: 2.5%;
              width: 55%;
            }

            &:nth-child(2) {
              text-align: end;
            }

            &:nth-child(3) {
              padding-left: 4%;
              width: 30%;
              text-align: end;
            }
          }
        }
      }
    }

    .right-table {
      width: 40%;
      height: 70%;

      tbody {
        table {
          border-collapse: collapse;

          th {
            padding: 5% 0;
          }

          td {
            text-align: center;
          }
        }
      }
    }

    .pay-btn {
      position: absolute;
      right: 50%;
      bottom: 9%;
      width: 10%;
      height: 6%;

      button {
        width: 100%;
        height: 100%;
        color: #fff;
        background-color: #4b4f53;
        border: 1px solid #b9b9b9;
        border-radius: 4px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
